body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.form-add {
    display: none;
    position: fixed;
    border: solid 3px black;
}

.form-wrapper {
    display: flex;
}

.form-container {
    max-width: 150px;
    padding: 10px;
    background-color: white;
}

.functions-wrapper  {
    display: flex;
}

.course-add {
    display: none;
}

.course-form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: solid 3px black;
}

/* .content {
    display: flex;
    justify-content: center;
} */

/* .functions-wrapper {
    padding-top: 2em;
    display: flex;
    flex-direction: row;
} */

table.scroll {
    width: 996px;
    border-spacing: 0;
    border: 2px solid black;
}

table.scroll tbody,
table.scroll thead tr { display: block; }

table.scroll tbody {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

table.scroll tbody td,
table.scroll thead th {
    width: 140px;
}

table.scroll thead th:last-child {
    width: 156px;
}

thead tr th { 
    height: 30px;
    line-height: 30px;
    text-align: left;
}

tbody { border-top: 2px solid black; }

tbody td:last-child, thead th:last-child {
    border-right: none !important;
}

.edit {
    display: flex;
    flex-direction: column;
    width: 160px;
}

table.scroll-course {
    width: 400px;
    border-spacing: 0;
    border: 2px solid black;
}

table.scroll-course tbody,
table.scroll-course thead tr { display: block; }

table.scroll-course tbody {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

table.scroll-course tbody td,
table.scroll-course thead th {
    width: 140px;
}

table.scroll-course thead th:last-child {
    width: 156px;
}